/src/server-emulator/hiperesp/server/controllers/Unverified.php
/src/server-emulator/data/*
!/src/server-emulator/data/.htaccess

/src/cdn/gamefiles/
!/src/cdn/gamefiles/game15_8_05-patched.swf
!/src/cdn/gamefiles/.htaccess
!/src/cdn/gamefiles/proxy.php

/src/server-emulator/.env.php
