/src/cdn/gamefiles/**
!/src/cdn/gamefiles/game*-patched.swf
!/src/cdn/gamefiles/.htaccess
!/src/cdn/gamefiles/local.php
!/src/cdn/gamefiles/remote.php
!/src/cdn/gamefiles/cache.php
!/src/cdn/gamefiles/dynamic.php
!/src/cdn/gamefiles/interfaces
!/src/cdn/gamefiles/interfaces/**

/src/server-emulator/.env.php
/src/server-emulator/data/*

/dev-tools/patch-new-swf/*
!/dev-tools/patch-new-swf/*.php
!/dev-tools/patch-new-swf/*.swf
!/dev-tools/patch-new-swf/*.txt

/.vscode/settings.json
