/src/server-emulator/hiperesp/server/controllers/Unverified.php
/src/server-emulator/data/*
!/src/server-emulator/data/.htaccess
/src/cdn/gamefiles/classes
/src/cdn/gamefiles/head
/src/cdn/gamefiles/interfaces
/src/cdn/gamefiles/items
/src/cdn/gamefiles/maps
/src/cdn/gamefiles/monsters
/src/cdn/gamefiles/newchar
/src/cdn/gamefiles/npc
/src/cdn/gamefiles/pets
