services:
  web:
    container_name: dragonfable-web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "40000:80"
    volumes:
      - ./dev-tools/:/var/www/html/dev-tools/ # DEV ONLY
      - ./src/cdn/:/var/www/html/cdn/
      - ./src/server-emulator/:/var/www/html/server-emulator/
      - ./src/web/assets/:/var/www/html/assets/
      - ./src/web/index.html:/var/www/html/index.html
      - ./src/web/signup.html:/var/www/html/signup.html
      - ./src/web/lost-password.html:/var/www/html/lost-password.html
      - ./src/web/tos.html:/var/www/html/tos.html
      - ./src/web/char-detail.html:/var/www/html/char-detail.html

