@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@font-face {
    font-family: 'BD Merced Regular';
    src: url(fonts/BD-Merced-Regular/BD-Merced-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.content {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    border: 2px solid #ffff00;
    border-top: 0;
    border-bottom: 0;
}
.main-container {
    flex: 1;
}
.ad-container {
    background-color: #660000;
    width: 100%;
    height: 62px;
    border-bottom: 2px solid #ffff00;
    display: flex;
    justify-content: flex-end;
}
.ad {
    display: flex;
    padding-left: 15px;
    background-image: url('images/web/ads-label.gif');
}
.main-content {
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar .server-info {
    overflow: hidden;
}
.navbar .server-info ul {
    min-width: max-content;
}
.navbar .server-info:hover ul {
    animation-play-state: paused;
}
.navbar ul {
    color: white;
    font-size: 13px;
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    padding: 5px;
}
.navbar ul li a {
    margin: 0 -5px;
    padding: 5px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
.navbar ul li a:hover {
    background-color: #404040;
}
.navbar .menu {
    flex: 1;
}
.navbar .server-info {
    display: flex;
    justify-content: flex-end;
}
.main-content-header {
    background-color: #330200;
    height: 125.5px;
    border-bottom: 2px solid #ffff00;
    background-image: linear-gradient(to right, #330200ff, #33020040 400px), var(--background);
    background-size: cover;
    background-position: center;
    font-family: "BD Merced Regular", "DM Serif Text", serif;
    display: flex;
    position: relative;
    padding: 20px;
}
.main-content-header h1 {
    align-self: flex-end;
    font-size: 2.25em;
    color: yellow;
    text-shadow: 4px 4px black;
}
.main-content-header .main-content-datetime {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 0.8em;
    font-family: sans-serif;
}

.sidebar {
    background-image: url('images/web/navbar.jpg');
    background-repeat: no-repeat;
    min-width: 225px;
}

.sidebar-body {
    margin-top: 475px;
    max-width: 225px;
}

.main-content-body, .sidebar-body {
    line-height: 1.5;
    padding: 20px;
}
.main-content-body p, .sidebar-body p {
    margin-bottom: 20px;
}
.main-content-body h2, .sidebar-body h2 {
    color: yellow;
    font-size: 1.1em;
    margin: 5px 0;
    text-transform: uppercase;
}
.main-content-body a, .sidebar-body a {
    color: yellow;
    text-decoration: underline;
}
.sidebar-body p {
    font-size: 0.8em;
}
.sidebar-logo-link {
    display: block;
    width: 100%;
    height: 120px;
    opacity: 0;
}

.home-intro video, .home-intro object, .home-intro ruffle-object {
    margin-top: -20px;
    margin-left: -20px;
    width: calc(100% + 40px);
}

.play-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-buttons img {
    width: 100%;
}


footer {
    margin: 0 auto;
    max-width: 1140px;
    background: #660000;
    margin: 0 auto;
    border: 2px solid yellow;
    padding: 20px;
    text-align: center;
    border-top: none;
    font-size: 13px;
}

@media screen and (max-width: 1140px) {
    .navbar .server-info {
        max-width: 300px;
    }
    .navbar .server-info ul {
        animation: marquee 10s linear infinite;
    }
    .content, footer {
        border: none;
    }
    footer {
        border-top: 2px solid yellow;
    }
}


@media screen and (max-width: 880px) {
    .ad-container .ad {
        display: none;
    }
    .server-info {
        position: absolute;
        top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .ad-container {
        display: none;
    }
    .server-info {
        position: initial;
        top: initial;
    }
    .sidebar {
        display: none;
    }
    .navbar {
        flex-direction: column-reverse;
        padding-right: 0;
    }
    .navbar .menu {
        border-top: 2px solid #404040;
        width: 100vw;
        flex-direction: column;
        background-color: #660000;
    }
    .navbar .menu li {
        flex: 1;
        border-bottom: 2px solid #330200;
    }
    .navbar .menu li a {
        display: block;
        padding: 8px 16px;
        margin: 0;
        text-align: center;
    }
    .navbar .server-info {
        width: 100vw;
        justify-content: space-between;
    }
    .safezone {
        max-width: 100vw;
    }
    .content {
        border: none;
    }
    .main-content-header {
        height: auto;
        min-height: 300px;
        border: none;
    }
    .main-content-body {
        overflow: hidden;
    }

    .play-buttons {
        flex-direction: column;
    }
    .play-buttons .signup img {
        width: 115%;
        max-width: initial !important;
    }

    footer {
        width: 100vw;
        border: none;
    }
    footer p {
        margin-bottom: 8px;
    }
}

#git-rev {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}






.main-content-game {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    max-width: 750px;
    max-height: 550px;
}