* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Helvetica', 'Verdana', 'Arial', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 10px;
}

.dynamic-button {
    object-position: 0px;
    object-fit: cover;
    width: var(--width);
    height: var(--height);
    &:hover {
        object-position: calc(-1 * var(--width));
    }
}

a {
    color: #f6a70c;
    text-decoration: underline;
}

.button {
    display: block;
    min-width: 200px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    margin: 10px 0 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #404040;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: 0.85em;
}

header {
    position: relative;
    overflow: hidden;

    display: flex;

    & .header-nav, .header-logo {
        background-image: url('../images/gl-topnav75.png');
        background-position: bottom center;
        background-repeat: repeat-x;

        &.header-logo {
            text-decoration: none;
            display: flex;
            padding: 0 20px;
            align-items: center;
            justify-content: center;

            & img {
                height: 35px;
            }

            &:hover {
                background-repeat: no-repeat, repeat-x;
                background-image: url('../images/gl-topnav-hover.png'), url('../images/gl-topnav75.png');
            }
        }

        &.header-nav {
            flex: 1;
            background-repeat: repeat;

            & .nav-links {
                display: flex;
                & li {
                    list-style: none;
                    & .nav-link {
                        display: block;
                        text-decoration: none;
                        color: #ffffff;
                        padding: calc(11px + 1px / 3);
                        font-family: 'Cinzel', sans-serif;
                        &.active, &:hover {
                            background-image: url('../images/gl-topnav-hover.png');
                            background-position: bottom center;
                            background-repeat: no-repeat;
                            &.active {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    & .banner-overlap {
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translate(-50%);
        pointer-events: none;
    }
    & .banner-background {
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: none;
        object-position: top;
        transform: translateX(-50%);
    }
}

main {
    &.flash-content {
        display: flex;
        justify-content: center;

        & #FFable {
            max-height: 100vh;
        }

        &>* {
            background-color: #0f0a02;
        }

        & ~ footer {
            margin-top: 0;
        }
    }
}

.main-banner {
    overflow: hidden;
    position: relative;

    & .banner-cta {
        margin-top: 260px;
        display: flex;
        gap: 5px;
        align-items: flex-end;
        padding: 20px 0;

        & .cta-item {
            & .cta-item-text {
                font-family: 'Cinzel', sans-serif;
            }
        }
    }
    & .background {
        position: absolute;
        top: -44px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%);
    }
}

section.content {
    background-image: linear-gradient(to bottom, #404040 1px, transparent 1px);

    & .section-title {
        font-family: 'Cinzel', sans-serif;
        padding: 1rem 0;

        background-image: linear-gradient(to bottom, transparent calc(100% - 1px), #404040);

        & h2 {
            font-size: 1.5rem;
        }
    }
    & .section-content {
        &.content-post {
            padding: 10px 0;

            & h2, p {
                margin: 1rem 0;
            }

            & h2 {
                color: #f6a70c;
                font-family: 'Cinzel', sans-serif;
            }

            & p {
                line-height: 200%;
            }
        }

        &.content-form {
            
            & label {
                color: #f6a70c;
                font-family: 'Cinzel', sans-serif;
                margin-top: 12px;
                display: block;
            }
            & .input-text {
                display: block;
                width: 400px;
                padding: 10px 25px;
                border: 1px solid #aaaaaa;
                border-radius: 5px;
                background-color: #404040;
                color: #ffffff;
            }
            & .small {
                font-size: 0.8rem;
                color: #aaaaaa;
                margin: 0;
            }
            & .error {
                color: red;
            }
        }
    }
}
section.chat {
    min-width: 267px;
    width: 267px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    height: 640px;
    max-height: 100vh;
    overflow: hidden;

    & .content-chat {
        height: 576px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px 0;
        position: relative;
    }

    & .content-chat-input {
        border-top: 1px solid gray;
        padding-top: 8px;
    }

    & .chat-item {
        padding: 4px 8px;
        border-radius: 8px;
        margin-bottom: 8px;
        background-color: #ffffff20;
        display: flex;
        flex-direction: column;
        max-width: 200px;

        &.chat-item-me {
            margin-left: auto;
            background-color: #fda13820;
            text-align: right;
        }
        &.chat-item-system {
            margin-left: auto;
            margin-right: auto;
            background-color: #ffffff40;
        }
        &.chat-item-pinned {
            position: absolute;
            top: 0px;
            right: -10px;
            padding: 20px;
            width: calc(100% + 20px);
            max-width: calc(100% + 20px);
            border-bottom: 1px solid gray;
            border-radius: 0;
            backdrop-filter: blur(5px);
        }
        &.chat-item-available {
            width: 100%;
            max-width: 100%;
            text-align: left;
        }
        &.chat-item-unlogged {
            width: 100%;
            max-width: 100%;
            text-align: left;
        }

        & .chat-user {
            font-family: 'Cinzel';
            color: #fda138;
            font-weight: bold;
            font-size: 0.8em;
        }
        & .chat-message {
            font-size: 0.8em;
            color: #ffffff90;
            padding: 4px 0;
            display: inline;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
        & .chat-time {
            font-size: 0.7em;
            color: #ffffff60;
        }

        & .chat-message-input {
            background: transparent;
            border: none;
            padding: 4px;
            color: #ffffff80;
            border: 1px solid #ffffff80;
            border-radius: 8px;
            margin-left: -4px;
            width: calc(100% + 8px);
        }
    }
}

.news-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272.5px, 1fr));
    gap: 5px;
    padding-top: 5px;
}

article.card {
    font-family: 'Cinzel', sans-serif;

    & a {
        display: block;
        text-decoration: none;
        padding: 10px 5px;
        border: 1px solid #282828;
        background-color: #151515;

        &:hover {
            background-color: #202020;
        }
    }

    & .article-image {
        width: 100%;
        & img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    & .article-header {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        align-items: center;

        & .article-author {
            display: flex;
            gap: 5px;
            align-items: center;

            & .author-image {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            & .author-name {
                color: #f6a70c;
            }
        }
        & .article-date {
            color: #aaaaaa
        }
    }
    & .article-title {
        font-size: 1rem;
    }
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #404040 1px, transparent 1px);
    line-height: 150%;

    & .title {
        font-family: 'Cinzel', sans-serif;
    }

    & .footer-info {
        margin-top: 10px;
        background-image: linear-gradient(to bottom, #404040 1px, transparent 1px);
        padding: 10px 0;
    }
}

@media screen and (max-width: 860px) {
    section.chat {
        display: none;
    }
    header {
        flex-wrap: wrap;

        & .header-logo {
            width: 100%;
            max-height: 200px;

            & img {
                max-width: 100%;
                height: auto!important;
            }
        }
        & .header-nav {
            & .nav-links {
                flex-wrap: wrap;

                & li {
                    margin-right: 0!important;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        & .banner-overlap {
            display: none;
        }
        & .banner-background {
            display: none;
        }
    }
    .main-banner {
        & .banner-cta {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 35vw;

            & .cta-item {
                margin-top: -40px;
            }
        }
        & .background {
            position: absolute;
            top: 0px;
            width: 150vw;
            z-index: -1;
        }
    }
    main {
        &.flash-content {
            display: flex;
            justify-content: center;

            & #FFable {
                height: 72vw;
            }
        }
    }
}
